<div class="mb-3">
    <label for="{{ selectId }}" class="form-label">{{ selectName }}</label>
    <select id="{{ selectId }}" class="form-select" aria-label="Default select example">
        <option selected disabled>Open this select menu</option>
        <option value="">no value</option>
        {% for key, label in options %}
            <option value="{{ key }}">{{ label }}</option>
        {% endfor %}
    </select>
</div>